<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <form method="POST">
            URL: <input type="text" name="url"><br>
            <input type="submit" value="Submit"><br>
        </form>
        <form method="POST">
            Query: <input type="text" name="query"><br>
            <input type="submit" value="Submit"><br>
        </form>
        <h1>Results:</h1>
        <ul>
        {% for item in result %}
            <li>{{ item }}</li>
        {% endfor %}
        </ul>
    </body>
</html>
